<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TIDE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#"><span title="User account"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp; <%= session[:user] %></span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="home"><span title="Dashboard"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span></span></a></li>
            <li><a href="#"><span title="Help"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></span></a></li>
            <li><a href="logout"><span title="Logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></span></a></li>
          </ul>
        </div>
      </div>
</nav>

<div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="<%= 'active' if @tabactive == 'dashboard' %>"><a href="home"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> &nbsp; Dashboard</a></li>
            <li class="<%= 'active' if @tabactive == 'project' %>"><a href="tideproject">TIDE project</a></li>
            <li class="<%= 'active' if @tabactive == 'team' %>"><a href="tideteam">TIDE team</a></li>
            <li class="<%= 'active' if @tabactive == 'plans' %>"><a href="#tideplans">TIDE plans</a></li>
          </ul>
        </div>
        

       	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
       		
		
          <div id="tideproject" >          
		  </br>
		  </br>
		  </br>
		  <% if flash[:color]== "valid" %>
			<div class="valid_notice">
				<p><%= flash[:notice]%></p>
			</div>
			<% elsif flash[:color]== "invalid"%>
			<div class="invalid_notice">
				<p><%=flash[:notice]%></p>
				</div>
		  <%else%>
		  <%end%>

          <div class="row">
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/academic.png" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>Academic</h2>
          				<p>
          					Academic/Research Institutes</br>
          					Universities</br>
          					<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>2500 per year</br>
          				</p>
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/sme.png" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>SME</h2>
          				<p>
          					Small/Medium Organizations</br>
          					&lt; 100 people </br>
          					<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>5000 per year</br>
          				</p>
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/corporate.png" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>Corporate</h2>
          				<p>
          					Large Corporations</br>
          					&gt; 100 people</br>
          					<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>10000 per year </br>
          				</p>
        		</div><!-- /.col-lg-4 -->

          </div>	  

          </div>        
	

        </div>
        
      </div>
    </div>
    
