<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TIDE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
          	<li><%= link_to 'TIDE Shiny R webtool'.html_safe, "http://tide.nki.nl", :target => "_blank"%></li>
          	<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TIDE software package<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  	<li><a href="#local">Why you need TIDE local installation?</a></li>
					<li><a href="#plan">Plans/Pricing for TIDE softwarew package</a></li>
                    <li><a href="#requirements">Technical requirements for TIDE local installation</a></li>
                  </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<% if session[:user] -%>
   	          	<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp; <%= session[:user] %> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
					<li><a href="logout"><span title="Logout">Logout </span></a></li>
                    <li role="separator" class="divider"></li>
		            <li><a href="#"><span title="Help"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> &nbsp; Help</span></a></li>
                  </ul>
            	</li>
          	<% else -%>
	          	<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My TIDE packages<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  	<li>
			          	<div class="navbar-form">
							<%= form_tag(:controller => 'users', :action => 'autheticateUser') do %>
								<%= text_field_tag :email , nil, :placeholder => "email", :class => "form-control" %> &nbsp;
								<%= password_field_tag :password, nil,:placeholder => "password", :class => "form-control"  %> &nbsp; </br> 
								<%= submit_tag "Login", :class => 'btn btn-primary btn-medium' %>
						<% end -%>
						</div>	
                  	</li>
                    <li role="separator" class="divider"></li>
		            <li><a href="#"><span title="Help">Help</a></li>
                  </ul>
            	</li>
            <% end -%>
          	<!-- 
          	<li>
          	<div class="navbar-form navbar-right">
			<%= form_tag(:controller => 'users', :action => 'autheticateUser') do %>
				<%= text_field_tag :email , nil, :placeholder => "email", :class => "form-control" %> &nbsp;
				<%= password_field_tag :password, nil,:placeholder => "password", :class => "form-control"  %> &nbsp; 
			<%= submit_tag "Login", :class => 'btn btn-primary btn-medium' %>
			<% end -%>
			</div>	
			</li>
            <li><a href="#"><span title="Help"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></span></a></li> -->
          </ul>
        </div>
      </div>
</nav>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          
          <div class="container">
            <div class="carousel-caption">
              <h1>TIDE: Tracking of Indels by DEcomposition</h1>
              <p>Easy quantitative assessment of genome editing</p>
              <div align="center">
	  						
      		  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-2">
        </div>	
        <div class="col-md-3">
        	<div align="center">
        		<img class="img-circle" src="assets/community.png" alt="Generic placeholder image" width="140" height="140"></br>
        		<%= link_to 'Access TIDE open source</br> Shiny R webtool'.html_safe, "http://tide.nki.nl", :target => "_blank", :class => "btn btn-lg btn-primary" %>
				</br>
              	<span class="text-muted" align="justify">Free to use tool that reports the precise identity of the mutations and their frequencies resulted by targeted mutagenesis of a pool of cells.</span>
			</div>
        </div>
        <div class="col-md-2">
        </div>	
        <div class="col-md-3">
			<div align="center">
				<img class="img-circle" src="assets/installation.png" alt="Generic placeholder image" width="140" height="140"></br>
				<a class="btn btn-lg btn-primary" href="order" role="button">TIDE software package </br>for local installation</a>
				</br>
				<span class="text-muted" align="justify">Request information for licensed ready to use TIDE shiny R package for local installation &amp; deployment for academic, small / medium and corporate organizations.</span>
			</div>	
        </div>
        <div class="col-md-2">
        </div>	
	
      </div>

	<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
        	<div id="project">
          	   <p class="lead">
	          	TIDE is a cheap, simple and accurate assay to precisely determine the spectrum and frequency of targeted mutations generated in a pool of cells by genome editing tools 
	          	such as CRISPR/Cas9, TALENs and ZFNs. TIDE requires only standard molecular biology reagents and involves three simple steps: </br></br>
	          	1.	One pair of standard PCR reactions.</br>
				2.	One pair of standard capillary ("Sanger") sequencing reactions.</br>
				3.	Analysis of the two resulting raw sequencing files using a dedicated sequence trace decomposition shiny R web tool. The algorithm accurately reconstructs the spectrum 
				of indels from the sequence traces. </br></br>
				The web tool reports the precise identity of the mutations and their frequencies in a few intuitive graphs and tables. 
				See <%= link_to "Brinkman et al, Nucl. Acids Res. (2014)", "http://nar.oxfordjournals.org/content/42/22/e168", :target => "_blank" %> for a detailed explanation and examples.
               </p>
               <a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Back to top</a>
        	</div>
        </div>
        <div class="col-md-5">
        	<img class="img-rounded" src="assets/tide-project-f1.png" alt="Generic placeholder image" width="600" height="500">
        </div>	
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
        	<div id="local">
        	  <h2 class="featurette-heading">Running TIDE locally can provide you with</h2>
        	  </br>
        	  </br>
        	   <div class="row">
        		<div class="col-lg-4">
          			<img class="img-rounded" src="assets/data-security.png" alt="Generic placeholder image" width="140" height="140">
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-8">
          				<p class="lead">
          					<strong>Data Security </strong></br>
          					Although we do not store or analyze any uploaded data to the open source TIDE Shiny R webtool from users, you may prefer to keep your confidential sequence files local. 
          				</p>
        		</div><!-- /.col-lg-6 -->
        	  </div>
        	  </br></br>
        	  <div class="row">
        		<div class="col-lg-4">
          			<img class="img-rounded" src="assets/connection-issues.png" alt="Generic placeholder image" width="140" height="140">
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-8">
          				<p class="lead">
          					<strong>No Firewwall/Connection Issues </strong></br>
          					A local installation of TIDE to your servers / private cloud overcomes access problems related to firewall issues. 
          				</p>
        		</div><!-- /.col-lg-6 -->
        	  </div>
          	  </br></br>
        	  <div class="row">
        		<div class="col-lg-4">
          			<img class="img-rounded" src="assets/tech-support.png" alt="Generic placeholder image" width="140" height="140">
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-8">
          				<p class="lead">
          					<strong>Technical Support </strong></br>
          					Ready to yse TIDE soft package also comes with one year technical support for your convenience. 
          				</p>
        		</div><!-- /.col-lg-6 -->
        	  </div>
        	  <div>
        	  	<p>Have a look at  differnet TIDE <a href="#plan">plans/pricing</a> for your institute / organization and also at the <a href="#requirements">technical requirements</a> for local installation.</p>
        	  </div>	
              <a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Back to top</a>
        </div>
      </div>
      </div>

	  <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
        	<div id="plan">
        	  <h2 class="featurette-heading">TIDE <span class="text-muted">plans</span></h2>
        	  </br>
        	  </br>
        	   <div class="row">
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/academic.png" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>Academic</h2>
          				<p>
          					Academic/Research Institutes</br>
          					Universities</br>
          					<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>2500</br>
          				</p>
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/sme.png" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>SME</h2>
          				<p>
          					Small/Medium Enterprises</br>
          					&lt; 100 people </br>
          					<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>5000</br>
          				</p>
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/corporate.png" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>Corporate</h2>
          				<p>
          					Large Corporations</br>
          					&gt; 100 people</br>
          					<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>10000</br>
          				</p>
        		</div><!-- /.col-lg-4 -->
               <a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Back to top</a>
        	</div>
        </div>
      </div>
      </div>

	  <hr class="featurette-divider">
	  
      <div class="row featurette">
        <div class="col-md-12">
        	<div id="requirements">
        	  <h2 class="featurette-heading">Technical <span class="text-muted">requirements</span></h2>
        	  </br>
        	  </br>
        	   <div class="row">
        		<div class="col-lg-6">
         	 			<h2>Deploy TIDE on Shiny R Server</h2>
          				<p>
          					Required platform: <strong>Web Server</strong></br>
          					Required Software: </br>
          					<ul>
          						<li>Web Server OS: <strong>Ubuntu 12.04 or later / Fedora 19+ / RedHat 7+ / openSUSE 13.1+</strong> (For installing the Shiny Server binary 64 bit architecture is needed)</li>
          						<li>R version: <strong>3.1.1 or later</strong></li>
          					</ul>
          					Comments: </br>
          					<ul>
          						<li>Installing Shiny Server on Amazon linux instances (e.g. EC2 t2 micro) is also possible. But make sure you have a compatible linux OS (e.g. ‘Amazon Linux AMI’).</li>
          						<li>The required R packages from TIDE and shiny package works with R version 3.0.2 or higher but it is highly recommended to get a version of R 3.1.1 for a smoother deployment of TIDE shiny R package.</li>
          					</ul>
          				</p>
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-6">
         	 			<h2>Deploy TIDE on <%= link_to "shinyapps.io", "http://www.shinyapps.io/", :target => "_blank" %> Cloud Server</h2>
          				<p>
          					Required platform: <strong>Any local machine</strong> from where you can deploy to the shinyapps.oi cloud.</br>
          					Required Software: </br>
          					<ul>
          						<li>Local Machine OS: <strong>Linux/Windows/Mac OSX</strong></li>
          						<li>R version: <strong>3.1.1 or later</strong></li>
          					</ul>
          					Comments: </br>
          					<ul>
          						<li>You would require an account in shinyapps.io cloud server and you can choose from plans (Free, Basic, Standard or Professional) for your need.</li>
          					</ul>
          				</p>
        		</div><!-- /.col-lg-4 -->
        	</div>
        	<a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Back to top</a>
        </div>
      </div>
      </div>
      
      <!-- 
      <hr class="featurette-divider">
	  
      <div class="row featurette">
        <div class="col-md-12">
        	<div id="team">
        	  <h2 class="featurette-heading">TIDE <span class="text-muted">team</span></h2>
        	  </br>
        	  </br>
        	   <div class="row">
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/bas.jpg" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>Bas van Steensel</h2>
          				<p>
          					<strong>Group leader, Gene Regulation</strong></br>
          				</p>
        		</div>
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/eva.jpg" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>Eva Brinkman</h2>
          				<p>
          					<strong>PretDoc, Gene Regulation</strong></br>
          				</p>
        		</div>
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/tao.jpg" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>Tao Chen</h2>
          				<p>
          					<strong>PreDoc, Gene Regulation</strong></br>
           					
         				</p>
        		</div>
               <a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Back to top</a>
        	 </div>
        	</div>
      	</div>
      </div>
	  -->
		
      <!-- /END THE FEATURETTES -->

	  <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
      	<div class="row">
      		
	      	<div class="col-lg-4">
    		    <p align="left">&copy; <%= link_to "Netherlands Cancer Institute - NKI", "http://www.nki.nl", :target => "_blank" %>
    		    </br>For any query, <%= mail_to "Research-IT@nki.nl", '<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; NKI Research-IT'.html_safe %>
        		</p>
        	</div>
        	<div class="col-lg-4">
        	</div>
        	<div class="col-lg-4">
				<img  src="assets/nki.png" alt="Generic placeholder image" width="180" height="100">
    	    </div>
    	 </div>   
      </footer>

    </div><!-- /.container -->