<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TIDE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
          	<li><%= link_to 'TIDE Shiny R webtool'.html_safe, "http://tide.nki.nl", :target => "_blank"%></li>
          	<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TIDE software package<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  	<li><a href="#project">TIDE: Tracking of indels by decomposition</a><li>
                  	<li><a href="#local">Benefits of TIDE local installation</a></li>
					<li><a href="#plan">Plans/Pricing for TIDE software package</a></li>
                    <li><a href="#requirements">Technical requirements for TIDE local installation</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="order">Request information for TIDE software package</a></li>
                  </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<% if session[:user] -%>
   	          	<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp; <%= session[:user] %> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  	<li><a href="home"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> &nbsp; Dashboard</a></li>
					<li><a href="#"><span title="Help"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> &nbsp; Help</span></a></li>
                    <li role="separator" class="divider"></li>
   					<li><a href="logout"><span title="Logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> &nbsp; Logout </span></a></li>
                  </ul>
            	</li>
          	<% else -%>
	          	<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My TIDE packages<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  	<li>
			          	<div class="navbar-form">
							<%= form_tag(:controller => 'users', :action => 'autheticateUser') do %>
								<%= text_field_tag :email , nil, :placeholder => "email", :class => "form-control" %> &nbsp;
								<%= password_field_tag :password, nil,:placeholder => "password", :class => "form-control"  %> &nbsp; </br> 
								<%= submit_tag "Login", :class => 'btn btn-primary btn-medium' %>
						<% end -%>
						</div>	
                  	</li>
                    <li role="separator" class="divider"></li>
		            <li><a href="#"><span title="Help">Help</a></li>
                  </ul>
            	</li>
            <% end -%>
          </ul>
        </div>
      </div>
</nav>

<div class="gs">

	<div class="gs__gitem">
		<div class="row">
			<div class="carouselN">
			<div class="container">
            	<div class="carousel-captionN">
              		<h1 class="featurette-heading"><span style="color:#151515">TIDE: Tracking of Indels by DEcomposition</span></h1>
              		<p>Easy quantitative assessment of genome editing</p>
              		<p align="justify">TIDE is a cheap, simple and accurate assay to precisely determine the spectrum and frequency of targeted mutations generated in a pool of cells by genome editing tools 
	          		such as CRISPR/Cas9, TALENs and ZFNs. <a class="btn btn-primary" href="#project" role="button">more &raquo;</a>
	          		</p>
            </div>
          </div>
		</div>
		</div>
	</div>	
	
	<div class="gs__gitem">
		<div class="row">
      		<div class="col-md-2">
        	</div>	
        	<div class="col-md-3">
        		<div align="center">
        			<img class="img-circle" src="assets/community.png" alt="Generic placeholder image" width="140" height="140"></br>
        			<%= link_to 'Access TIDE open source</br> Shiny R webtool'.html_safe, "http://tide.nki.nl", :target => "_blank", :class => "btn btn-lg btn-primary" %>
					</br>
              		<span class="text-muted" align="justify">Free to use tool that reports the precise identity of the mutations and their frequencies resulted by targeted mutagenesis of a pool of cells.</span>
				</div>
        	</div>
        	<div class="col-md-2">
        	</div>	
        	<div class="col-md-3">
				<div align="center">
					<img class="img-circle" src="assets/installation.png" alt="Generic placeholder image" width="140" height="140"></br>
					<a class="btn btn-lg btn-primary" href="order" role="button">TIDE software package </br>for local installation</a>
					</br>
					<span class="text-muted" align="justify">Request information for licensed ready to use TIDE shiny R package for local installation &amp; deployment for academic, small / medium and corporate organizations.</span>
				</div>	
        	</div>
        	<div class="col-md-2">
        	</div>
      	</div>
	</div>
	
	
	<div class="gs__gitem">
		<div class="row">
			<div id="project">
      		</br>
      		<h2 class="featurette-heading">TIDE &nbsp; <span class="text-muted">tracking of indels by decomposition</span></h2>
	        	<div class="col-md-7">        	
          	   		<p class="lead">
	          		TIDE is a cheap, simple and accurate assay to precisely determine the spectrum and frequency of targeted mutations generated in a pool of cells by genome editing tools 
	          		such as CRISPR/Cas9, TALENs and ZFNs. TIDE requires only standard molecular biology reagents and involves three simple steps: </br></br>
	          		1.	One pair of standard PCR reactions.</br>
					2.	One pair of standard capillary ("Sanger") sequencing reactions.</br>
					3.	Analysis of the two resulting raw sequencing files using a dedicated sequence trace decomposition shiny R web tool. The algorithm accurately reconstructs the spectrum 
					of indels from the sequence traces. </br></br>
					The web tool reports the precise identity of the mutations and their frequencies in a few intuitive graphs and tables. 
					See <%= link_to "Brinkman et al, Nucl. Acids Res. (2014)", "http://nar.oxfordjournals.org/content/42/22/e168", :target => "_blank" %> for a detailed explanation and examples.
               		</p>
               		<a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Back to top</a>
        		</div>
        		<div class="col-md-5">
        			<img class="img-rounded" src="assets/tide-project-f1.png" alt="Generic placeholder image" width="600" height="500">
        		</div>
        	</div>
		</div>
	</div>	
	
	<div class="gs__gitem">
		<div class="row">
			<div id="local">
        	</br>
        	  <h2 class="featurette-heading">Benefits of TIDE local installation</h2>
        	   <div class="row">
        		<div class="col-lg-4">
          			<img class="img-rounded" src="assets/data-security.png" alt="Generic placeholder image" width="140" height="140">
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-8">
          				<p class="lead">
          					<strong>Data Security </strong></br>
          					Although we do not store or analyze any uploaded data to the open source TIDE Shiny R webtool from users, you may prefer to keep your confidential sequence files local. 
          				</p>
        		</div><!-- /.col-lg-6 -->
        	  </div>
        	  </br></br>
        	  <div class="row">
        		<div class="col-lg-4">
          			<img class="img-rounded" src="assets/connection-issues.png" alt="Generic placeholder image" width="140" height="140">
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-8">
          				<p class="lead">
          					<strong>No Firewall/Connection Issues </strong></br>
          					A local installation of TIDE to your servers / private cloud overcomes access problems related to firewall issues. 
          				</p>
        		</div><!-- /.col-lg-6 -->
        	  </div>
          	  </br></br>
        	  <div class="row">
        		<div class="col-lg-4">
          			<img class="img-rounded" src="assets/tech-support.png" alt="Generic placeholder image" width="140" height="140">
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-8">
          				<p class="lead">
          					<strong>Technical Support </strong></br>
          					Ready to use TIDE software package also comes with one year technical support for your convenience.
          					Continued support and free updates of new TIDE versions after the initial one year term can be secured against an annual fee that is 15% of the initial license fee. 
          				</p>
        		</div><!-- /.col-lg-6 -->
        	  </div>
              <a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Back to top</a>
        </div>
		</div>	
	</div>
	
</div>			