

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">TIDE</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about"><b>About</b></a>
                    </li>

                    <li class="dropdown">
                  		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>TIDE premium</b><span class="caret"></span></a>
                  		<ul class="dropdown-menu">
                  			<li><a href="#gettingstarted"><b>Getting Started</b></a><li>
                  			<li><a href="#request"><b>Request TIDE Premium Software</b></a><li>
                    		<li><a href="#requirements"><b>Technical Requirements</b></a></li>
                    		<li role="separator" class="divider"></li>
                    		<li><a href="#tideusers"><b>TIDE Premium Users</b></a></li>
                  		</ul>
            		</li>
            		<!--
            		<li>
            			<a class="page-scroll" href="#tideusers"><b>Tide Users</b></a>
            		</li>
            		-->
                    <li>
                        <a class="page-scroll" href="#contact"><b>Contact</b></a>
                    </li>
                    <li> <a href="#">| </a></li>
                    <% if session[:user] -%>
   	          		<li class="dropdown">
                	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp; <b><%= session[:user] %></b> <span class="caret"></span></a>
                	  <ul class="dropdown-menu">
                	  	<% if session[:isadmin]  -%>
                	  		<li><a href="adminDashboard"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> &nbsp; <b>Admin Dashboard</b></a></li>
                	  	<% else -%>
                	  		<li><a href="home"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> &nbsp; <b>Dashboard</b></a></li>
						<% end -%>
						<!--<li><a href="#"><span title="Help"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> &nbsp; Help</span></a></li>-->
                	    <li role="separator" class="divider"></li>
   						<li><a href="logout"><span title="Logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> &nbsp; <b>Logout</b> </span></a></li>
                	  </ul>
            		</li>
          			<% else -%>
	          		<li class="dropdown">
                	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>My TIDE packages</b><span class="caret"></span></a>
                	  <ul class="dropdown-menu">
                	  	<li>
			    	      	<div class="navbar-form">
								<%= form_tag(:controller => 'users', :action => 'autheticateUser') do %>
									<%= text_field_tag :email , nil, :placeholder => "email", :class => "form-control" %> &nbsp;
									<%= password_field_tag :password, nil,:placeholder => "password", :class => "form-control"  %> &nbsp; </br> 
									<%= submit_tag "Login", :class => 'btn btn-primary btn-medium' %>
							<% end -%>
							</div>	
                	  	</li>
                	  </ul>
            		</li>
            		<% end -%>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
            	<p align="center"><img  src="assets/headerMain3.jpg" alt="" class="img-responsive"></p>
                <h3>METHOD FOR EASY QUANTITATIVE ASSESSMENT OF GENOME EDITING</h3>
                <!--<p>TIDE is a simple and accurate assay to precisely determine the spectrum and frequency of targeted mutations generated in a pool of cells by  genome CRISPR/Cas9
              	genome editing tools.</p> -->
                <a href="http://tide-calculator.nki.nl/" target="_blank" class="btn btn-primary-top btn-xl page-scroll">Free webtool</a>
                <hr>
                <!--<h4>FOR LOCAL INSTALLATION OF TIDE</h4>-->
                <a href="#gettingstarted" class="btn btn-primary-top btn-xl page-scroll">TIDE premium</a>
                <hr>
                <div class="row">
               	<p><font size="3">TIDE published at <a href="http://nar.oxfordjournals.org/content/42/22/e168" target="_blank">Nucleic Acid Research</a> </br> 
					TIDE developed at <%= link_to "Netherlands Cancer Institute - NKI", "http://www.nki.nl", :target => "_blank" %></font></p>
                </div>
            </div>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">TIDE: Tracking of Indels by Decomposition</h2>
                    <!--<h2 class="section-heading">Easy quantitative assessment of genome editing</h2> -->
                    <hr class="primary">
                    <p>
                    	TIDE is a simple and accurate assay to precisely determine the spectrum and frequency of targeted mutations generated in a pool of cells by genome editing tools 
			          	such as CRISPR/Cas9, TALENs and ZFNs. TIDE requires only standard molecular biology reagents and involves three simple steps:
	    		      	1.	One pair of standard PCR reactions.
						2.	One pair of standard capillary ("Sanger") sequencing reactions.
						3.	Analysis of the two resulting raw sequencing files using a dedicated web tool. The algorithm accurately reconstructs the spectrum 
						of indels from the sequence traces.
						The web tool reports the precise identity of the mutations and their frequencies in a few intuitive graphs and tables. 
                    </p>
                    <p align="center" class="text-faded">
	                    <img src="assets/EB20151009_method.png" alt="" width="500" height="500" class="img-responsive">
 					</p>
                   	<a href="http://nar.oxfordjournals.org/content/42/22/e168" target="_blank" class="btn btn-primary btn-xl">View TIDE publication</a>
					<!--<hr class="light">
                    <a href="#gettingstarted" class="btn btn-default btn-xl">Get Started For TIDE Local Installation!</a>-->
                </div>
            </div>
        </div>
    </section>

    <section id="gettingstarted" class="bg-custom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Getting Started with acquiring TIDE Premium Software Package</h2>
                    <hr>
                </div>
            </div>
        </div>
       	<div class="container">
        	<div class="row">
        		<div class="col-lg-12 text-center">
                    <h2>Benefits of TIDE Premium</h2>
                </div>
        	</div>
        	<div class="row">
        		<div class="col-lg-3 col-md-6 text-center">
                   <div class="service-box">
                        <h3><span class="text-primary">Batch Processing</span></h3>
                        <p class="text-muted">With TIDE premium, you can process multiple samples simultaneously.</p>
                    </div>
            	</div>
	        	<div class="col-lg-3 col-md-6 text-center">
                   <div class="service-box">
                        <h3><span class="text-primary">Data Security</span></h3>
                        <p class="text-muted">Although the TIDE web tool does not store or analyze any uploaded data, you may prefer to keep your confidential sequence files local.</p>
                    </div>
            	</div>
            	<div class="col-lg-3 col-md-6 text-center">
                   <div class="service-box">
                        <h3><span class="text-primary">No Firewall/Connection Issues</span></h3>
                        <p class="text-muted">Local deployment/installation of TIDE on your own servers / private cloud overcomes access problems related to firewall issues.</p>
                    </div>
            	</div>
            	<div class="col-lg-3 col-md-6 text-center">
                   <div class="service-box">
                        <h3><span class="text-primary">Technical Support</span></h3>
                        <p class="text-muted">Ready to use TIDE software package also comes with one year technical support*.</p>
                    </div>
            	</div>
            </div>
            </br>	
        </div>	
        <div class="container">
        	<div class="row">
        		<div class="col-lg-12 text-center">
                    <h2>What are my options?</h2>
                </div>
        	</div>
        	<div class="row">
        		<div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="text-primary">Academic</h3>
                        <p class="text-muted">
          					Academic/Research Institutes &amp; Universities</br>
          					1 year of tech support* 
           					</br>
          					Set-up Fee <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>2000
          					</br>
          					Set-up Fee with additional discount <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>1500**
          				</p>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="text-primary">Small Medium Enterprises</h3>
                        <p class="text-muted">
          					<%= link_to "Small/Medium Enterprises", "http://ec.europa.eu/DocsRoom/documents/10109/attachments/1/translations/en/renditions/native", :target => "_blank"%> with &lt; 100 people </br>
          					1 year of tech support*
          					</br>
          					Set-up Fee <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>4000
          					</br>
          					Set-up Fee with additional discount <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>3000**
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="text-primary">Corporate</h3>
                        <p class="text-muted">
                        	Large Corporations with &gt; 100 people</br>
                        	1 year of tech support*
                        	</br>
          					Set-up Fee <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>8000
          					</br>
          					Set-up Fee with additional discount <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>6000**
                        </p>
                    </div>
                </div>
        	</div>
        	</br>
        </div>
                <div class="container">
        	<div class="row">
        		<div class="col-lg-12 text-center">
                    <h2>How does this work?</h2>
                </div>
        	</div>
        	<div class="row">
        		<div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <h3>Step 1 &gt; <span class="text-primary">Request TIDE</span></h3>
                        <p class="text-muted">Request TIDE software package via this web app by choosing an option that fits your organization.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                    	<h3>Step 2 &gt; <span class="text-primary">License Agreement</span></h3>
                        <p class="text-muted">Next, the Tech Transfer Office of NKI-AVL will get in touch with you to finalize the license agreement.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                    	<h3>Step 3 &gt; <span class="text-primary">Download TIDE</span></h3>
                        <p class="text-muted">Done! Your account will be created and you can download the ready to deploy TIDE package.</p>
                    </div>
                </div>
        	</div>		
        	</br>
        </div>		
        <div class="container">
            <div class="row">
            	<div class="col-lg-12 text-center">
            		<div class="service-box">
		            	<a href="#request" class="btn btn-primary btn-xl">Request TIDE Premium Software Package</a>
					</div>
	            </div>
	            <div class="col-lg-12 text-center">
	            	<div class="service-box">
	            		<p>
	            			If you have any question
	            		</p>
	            		<a href="#contact" class="btn btn-default btn-xl">Contact Us</a>
	            	</div>
	            </div>
            </div>
            <div class="row">
            	<div class="col-lg-12 text-muted">
            		<hr class="primary">
            		<p>
            			<font size="2">
            				*Continued tech support &amp; free updates of new TIDE versions after the initial one year term can be secured against 
            				an annual fee that is 15% of the initial license/set-up fee.
            				</br>
            		<!--
            			</font>
            		</p>
   	        		<p>
   	        			<font size="2">
   	        		-->		
   	        				**This discounted rate will allow NKI to publish/advertise the fact that we’ve entered into a license agreement with Licensee concerning the Software,
   	        			 	primarily through our TIDE website.
   	        			 </font>
   	        			<!--**The quoted prices include an optional 20% discount that is applied in exchange for permission to use your organization's 
   	        			name/logo solely in connection with the fact that you entered into a license agreement for TIDE with us. -->
   	        		</p>
            	</div>
            </div>	
        </div>
    </section>

    <section id="request"class="primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Request TIDE Premium Software Package</h2>
                    <p>Please provide your contact information below. Our Technology Transfer Office will contact you as soon as possible.</p>
                    <hr class="primary">   
                </div>
            </div>
            <div class="row">
            	<div class="col-lg-12 text-center">	
            	<p><i><strong>**all fields are mandatory</strong></i></p>
            	<div class="reqInfoOrder">
            		<% if flash[:color]== "valid" %>
		    	 		<div class="valid_notice">
							<p><%= flash[:notice]%></p>
						</div>
					<% elsif flash[:color]== "invalid"%>
						<div class="invalid_notice">
							<p><%=flash[:notice]%></p>
						</div>
		  			<%else%>
		 			<%end%> 	       
					<%= form_tag(:controller => 'app', :action => 'orderAction') do %>
				   		<%= select_tag :chosenPlan, options_for_select([ 'Select an option', 'Academic', 'SME', 'Corporate' ], @selectedPlan), :class => "form-control" %></br>
			   			<%= text_field_tag :name , nil, :placeholder => "Full name", :class => "form-control" %></br>
   		    			<%= text_field_tag :email , nil, :placeholder => "Email", :class => "form-control" %></br>
   		    			<%= text_field_tag :organization , nil, :placeholder => "Company / Institute / University name", :class => "form-control" %></br>
						<%= text_area_tag :organizationAddress , nil, :placeholder => "Company / Institute / University complete address", :class => "form-control" %></br>
						<%= text_field_tag :contactNumber , nil, :placeholder => "Contact number at organization", :class => "form-control" %></br>
						<%= text_field_tag :webAddress , nil, :placeholder => "Website of company / institute/ university", :class => "form-control" %></br>
       					<%= submit_tag "Request TIDE", :class => 'btn btn-primary' %>
					<% end -%>
				</div>
				</div>
            </div>	
        </div>
	</section>

	<section id= "requirements" class="bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
                    <h2 class="section-heading">Technical Requirements for TIDE Deployment</h2>
                    <hr class="primary">   
                </div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
                	<h2>Deploy TIDE on <%= link_to "Shiny R Server", "https://www.rstudio.com/products/shiny/shiny-server/", :target => "_blank" %></h2>
          			<p>
          				Required platform: <strong>Web Server</strong></br>
          				Required Software: </br>
          				<ul>
          					<li>Web Server OS: <strong>Ubuntu 12.04 or later / Fedora 19+ / RedHat 7+ / openSUSE 13.1+</strong> (For installing the Shiny Server binary 64 bit architecture is needed)</li>
          					<li>R version: <strong>3.1.1 or later</strong></li>
          				</ul>
          				Comments: </br>
          				<ul>
          					<li>Installing Shiny Server on Amazon linux instances (e.g. EC2 t2 micro) is also possible. But make sure you have a compatible linux OS (e.g. ‘Amazon Linux AMI’).</li>
          					<li>The required R packages from TIDE and shiny package works with R version 3.0.2 or higher but it is highly recommended to get a version of R 3.1.1 for a smoother deployment of TIDE shiny R package.</li>
          				</ul>
          			</p>
                </div>
                <div class-="col-lg-6 col-md-6">
                	<h2>Deploy TIDE on <%= link_to "shinyapps.io", "http://www.shinyapps.io/", :target => "_blank" %> Cloud Server</h2>
          			<p>
          				Required platform: <strong>Any local machine</strong> from where you can deploy to the shinyapps.oi cloud.</br>
          				Required Software: </br>
          				<ul>
          					<li>Local Machine OS: <strong>Linux/Windows/Mac OSX</strong></li>
          					<li>R version: <strong>3.1.1 or later</strong></li>
          				</ul>
          				Comments: </br>
          				<ul>
          					<li>You would require an account in shinyapps.io cloud server and you can choose from plans (Free, Basic, Standard or Professional) for your need.</li>
          				</ul>
          			</p>
                </div>	
			</div>	
		</div>
	</section>
	<section id="tideusers">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">TIDE Premium Users</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
            	</br>
            	<p class="text-center">
 					<a href='http://www.edigene.com/en/index.html', target="_blank"><img  src="assets/edigene_logo.png" alt="edigene logo" width="200" height="40"></a>
            	</p>	
            </div>	
        </div>
    </section>	
    <section id="contact" class="bg-custom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact us with your question</h2>
                    <hr class="primary">
                    
                    <div class="reqInfo">
                    	<% if flash[:color]== "valid" %>
		     				<div class="valid_notice">
								<p><%= flash[:notice]%></p>
							</div>
						<% elsif flash[:color]== "invalid"%>
							<div class="invalid_notice">
								<p><%=flash[:notice]%></p>
							</div>
		  				<%else%>
		 				<%end%>
						<%= form_tag(:controller => 'app', :action => 'reqInfoAction') do %>
							<%= text_field_tag :towhom , 'TO: Research-IT@nki.nl', :class => "form-control", :disabled => true %></br>
			   				<%= text_field_tag :name , nil, :placeholder => "Full name", :class => "form-control" %></br>
   		    				<%= text_field_tag :email , nil, :placeholder => "Email", :class => "form-control" %></br>
							<%= text_area_tag :question , nil, :placeholder => "Question ...", :class => "form-control" %></br>
       						<%= submit_tag "Send", :class => 'btn btn-primary' %>
						<% end -%>
					</div>
                </div>
            </div>
            <hr class="primary">
            <div class="row">
            	<p class="text-center">
 					<img  src="assets/nki.png" alt="" width="180" height="100"></br>
            		<font size="2">&copy; <%= link_to "Netherlands Cancer Institute - NKI", "http://www.nki.nl", :target => "_blank" %></font>
            	</p>	
            </div>	
        </div>
    </section>


