<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TIDE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
          	<li><a href="#team">TIDE team</a></li>
          	<li><a href="#plan">Plans/Pricing</a></li>
          </ul>	
          <ul class="nav navbar-nav navbar-right">
          	<li>
          	<div class="navbar-form navbar-right">
			<%= form_tag(:controller => 'users', :action => 'autheticateUser') do %>
				<%= text_field_tag :email , nil, :placeholder => "email", :class => "form-control" %> &nbsp;
				<%= password_field_tag :password, nil,:placeholder => "password", :class => "form-control"  %> &nbsp; 
			<%= submit_tag "Login", :class => 'btn btn-primary btn-medium' %>
			<% end -%>
			</div>	
			</li>
            <li><a href="#"><span title="Help"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></span></a></li>
          </ul>
        </div>
      </div>
</nav>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="assets/tide3.png" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>TIDE: Tracking of Indels by DEcomposition</h1>
              <p>Easy quantitative assessment of genome editing</p>
              <div align="center">
              	<%= link_to '<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> &nbsp; Open TIDE shiny R App'.html_safe, "http://tide.nki.nl", :target => "_blank", :class => "btn btn-lg btn-primary" %>
	  			<a class="btn btn-lg btn-primary" href="order" role="button"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> &nbsp; Order TIDE shiny R package</a>
      		  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <% if flash[:color]== "valid" %>
			<div class="valid_notice">
				<p><%= flash[:notice]%></p>
			</div>
		<% elsif flash[:color]== "invalid"%>
			<div class="invalid_notice">
				<p><%=flash[:notice]%></p>
				</div>
		<%else%>
		<%end%>
    
    <div class="container marketing">

      <!-- START THE FEATURETTES -->


      <div class="row featurette">
        <div class="col-md-7">
        	<div id="project">
          	   <p class="lead">
	          	TIDE is a cheap, simple and accurate assay to precisely determine the spectrum and frequency of targeted mutations generated in a pool of cells by genome editing tools 
	          	such as CRISPR/Cas9, TALENs and ZFNs. TIDE requires only standard molecular biology reagents and involves three simple steps: </br></br>
	          	1.	One pair of standard PCR reactions.</br>
				2.	One pair of standard capillary ("Sanger") sequencing reactions.</br>
				3.	Analysis of the two resulting raw sequencing files using a dedicated sequence trace decomposition shiny R web tool. The algorithm accurately reconstructs the spectrum 
				of indels from the sequence traces. </br></br>
				The web tool reports the precise identity of the mutations and their frequencies in a few intuitive graphs and tables. 
				See Brinkman et al, Nucl. Acids Res. (2014) for a detailed explanation and examples.
               </p>
               <a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Back to top</a>
        	</div>
        </div>
        <div class="col-md-5">
        	<img class="img-rounded" src="assets/tide-project-f1.png" alt="Generic placeholder image" width="600" height="500">
        </div>	
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
        	<div id="team">
        	  <h2 class="featurette-heading">TIDE <span class="text-muted">team</span></h2>
        	  </br>
        	  </br>
        	   <div class="row">
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/bas.jpg" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>Bas van Steensel</h2>
          				<p>
          					<strong>Group leader, Gene Regulation</strong></br>
          					<%= link_to '<span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; NKI website'.html_safe, "http://www.nki.nl/divisions/gene-regulation/van-steensel-b-group/" , :target => "_blank" %>
          					</br>
							<%= link_to '<span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Personal website'.html_safe, "http://research.nki.nl/vansteensellab/index.htm" , :target => "_blank" %>
							</br>
          					<%= mail_to "b.v.steensel@nki.nl", '<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; Bas van Steensel'.html_safe %>
          					</br>
          				</p>
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/tao.jpg" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>Tao Chen</h2>
          				<p>
          					<strong>PostDoc, Gene Regulation</strong></br>
           					<%= link_to '<span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; NKI website'.html_safe, "http://www.nki.nl/divisions/gene-regulation/van-steensel-b-group/" , :target => "_blank" %>
          					</br>
							<%= link_to '<span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Personal website'.html_safe, "http://research.nki.nl/vansteensellab/index.htm" , :target => "_blank" %>
							</br>
          					<%= mail_to "t.chen@nki.nl", '<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; Tao Chen'.html_safe %>
          					</br>
         				</p>
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/eva.jpg" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>Eva Brinkman</h2>
          				<p>
          					<strong>PostDoc, Gene Regulation</strong></br>
           					<%= link_to '<span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; NKI website'.html_safe, "http://www.nki.nl/divisions/gene-regulation/van-steensel-b-group/" , :target => "_blank" %>
          					</br>
							<%= link_to '<span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Personal website'.html_safe, "http://research.nki.nl/vansteensellab/index.htm" , :target => "_blank" %>
							</br>
          					<%= mail_to "e.brinkman@nki.nl", '<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; Eva Brinkman'.html_safe %>
          					</br>
          				</p>
        		</div><!-- /.col-lg-4 -->
               <a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Back to top</a>
        	 </div>
        	</div>
      	</div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
        	<div id="plan">
        	  <h2 class="featurette-heading">TIDE <span class="text-muted">plans</span></h2>
        	  </br>
        	  </br>
        	   <div class="row">
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/academic.png" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>Academic</h2>
          				<p>
          					Academic/Research Institutes</br>
          					Universities</br>
          					<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>2500 per year</br>
          				</p>
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/sme.png" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>SME</h2>
          				<p>
          					Small/Medium Organizations</br>
          					&lt; 100 people </br>
          					<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>5000 per year</br>
          				</p>
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/corporate.png" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>Corporate</h2>
          				<p>
          					Large Corporations</br>
          					&gt; 100 people</br>
          					<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>10000 per year </br>
          				</p>
        		</div><!-- /.col-lg-4 -->
               <a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Back to top</a>
        	</div>
        </div>
      </div>
      </div>


      <!-- /END THE FEATURETTES -->

	  <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
      	<div class="row">
      		
	      	<div class="col-lg-4">
    		    <p align="left">&copy; <%= link_to "Netherlands Cancer Institute - NKI", "http://www.nki.nl", :target => "_blank" %>
    		    </br>For any query, <%= mail_to "Research-IT@nki.nl", '<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; NKI Research-IT'.html_safe %>
    		    </br><a href="#">Privacy</a> 
    		    </br> <a href="#">Terms</a>
        		</p>
        	</div>
        	<div class="col-lg-4">
        	</div>
        	<div class="col-lg-4">
				<img  src="assets/nki.png" alt="Generic placeholder image" width="180" height="100">
    	    </div>
    	 </div>   
      </footer>

    </div><!-- /.container -->