<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index">TIDE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
          </ul>	
          <ul class="nav navbar-nav navbar-right">
			<% if session[:user] -%>
   	          		<li class="dropdown">
                	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp; <%= session[:user] %> <span class="caret"></span></a>
                	  <ul class="dropdown-menu">
                	  	<li><a href="home"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> &nbsp; Dashboard</a></li>
						<!--<li><a href="#"><span title="Help"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> &nbsp; Help</span></a></li>-->
                	    <li role="separator" class="divider"></li>
   						<li><a href="logout"><span title="Logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> &nbsp; Logout </span></a></li>
                	  </ul>
            		</li>
          	<% else -%>
	          	<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My TIDE packages<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  	<li>
			          	<div class="navbar-form">
							<%= form_tag(:controller => 'users', :action => 'autheticateUser') do %>
								<%= text_field_tag :email , nil, :placeholder => "email", :class => "form-control" %> &nbsp;
								<%= password_field_tag :password, nil,:placeholder => "password", :class => "form-control"  %> &nbsp; </br> 
								<%= submit_tag "Login", :class => 'btn btn-primary btn-medium' %>
						<% end -%>
						</div>	
                  	</li>
                  </ul>
            	</li>
            <% end -%>
          </ul>
        </div>
      </div>
</nav>

</br>
</br>
</br>

 <div class="container marketing">
 	
      	
      <h2>
      	<% if @header == "order" or @header == "reqInfo" -%>
      		Thank you!
      	<% else -%>
      		Sorry!
      	<% end -%>
      </h2>
      <p><%= @msg %></p>
        
      <p>Back to <%= link_to "main page", "index" %>!</p>
   
	  <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
      	<div class="row">
	      	<div class="col-lg-12">
	      		<p align="center">
	      			<img  src="assets/nki.png" alt=".." width="180" height="100"></br>
	      			<font size="2">&copy; <%= link_to "Netherlands Cancer Institute - NKI", "http://www.nki.nl", :target => "_blank" %></font>
	      		</p>
        	</div>
    	 </div>   
      </footer>

</div><!-- /.container -->
