<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index">TIDE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
          	<li><%= link_to 'TIDE Shiny R webtool'.html_safe, "http://tide.nki.nl", :target => "_blank"%></li>
          	<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TIDE software package<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  	<li><a href="index#project">TIDE: Tracking of indels by decomposition</a><li>
                  	<li><a href="#local">Benefits of TIDE local installation</a></li>
					<li><a href="#plan">Plans/Pricing for TIDE software package</a></li>
                    <li><a href="#requirements">Technical requirements for TIDE local installation</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Request information for TIDE software package</a></li>
                  </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<% if session[:user] -%>
          		<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp; <%= session[:user] %> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
					<li><a href="home"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> &nbsp; Dashboard</a></li>
					<li><a href="#"><span title="Help"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> &nbsp; Help</span></a></li>
                    <li role="separator" class="divider"></li>
   					<li><a href="logout"><span title="Logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> &nbsp; Logout </span></a></li>   					
                  </ul>
            	</li>
          	<% else -%>
	          	<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My TIDE packages<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  	<li>
			          	<div class="navbar-form">
							<%= form_tag(:controller => 'users', :action => 'autheticateUser') do %>
								<%= text_field_tag :email , nil, :placeholder => "email", :class => "form-control" %> &nbsp;
								<%= password_field_tag :password, nil,:placeholder => "password", :class => "form-control"  %> &nbsp; </br> 
								<%= submit_tag "Login", :class => 'btn btn-primary btn-medium' %>
						<% end -%>
						</div>	
                  	</li>
                    <li role="separator" class="divider"></li>
		            <li><a href="#"><span title="Help">Help</a></li>
                  </ul>
            	</li>
            <% end -%>	
          	<!-- 
          	<li>
          	<div class="navbar-form navbar-right">
			<%= form_tag(:controller => 'users', :action => 'autheticateUser') do %>
				<%= text_field_tag :email , nil, :placeholder => "email", :class => "form-control" %> &nbsp;
				<%= password_field_tag :password, nil,:placeholder => "password", :class => "form-control"  %> &nbsp; 
			<%= submit_tag "Login", :class => 'btn btn-primary btn-medium' %>
			<% end -%>
			</div>	
			</li>
            <li><a href="#"><span title="Help"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></span></a></li> -->
          </ul>
        </div>
      </div>
</nav>

</br>
</br>
</br>

 <div class="container marketing">
 	
      	
    <div class="row featurette">
          <div class="col-md-6">
        	<div id="local">
        	  <h2>Benefits of TIDE local installation</h2>
        	  </br>
        	   <div class="row">
        		<div class="col-lg-2">
          			<a class='datasecurity' data-toggle="popover" data-trigger="focus" data-placement='above' title="Data Security" href='#'><span title="Data Security"><img class="img-rounded" src="assets/data-security.png" alt="Generic placeholder image" width="80" height="80"></span></a>
						<div id="popover_content_wrapper_data_security" style="display: none">
  							<div>
          						<p align="justify">
          							Although we do not store or analyze any uploaded data to the open source TIDE Shiny R webtool from users, you may prefer to keep your confidential sequence files local. 
          						</p>
  							</div>
						</div>
						
        		</div><!-- /.col-lg-2 -->
        		<div class="col-lg-2">
        		</div>
        		<div class="col-lg-2">
          			<a class='firewall' data-toggle="popover" data-trigger="focus" data-placement='above' title="No Firewall/Connection Issues" href='#'><span title="No Firewall/Connection Issues"><img class="img-rounded" src="assets/connection-issues.png" alt="Generic placeholder image" width="80" height="80"></span></a>
						<div id="popover_content_wrapper_firewall" style="display: none">
  							<div>
          						<p align="justify">
          							A local installation of TIDE to your servers / private cloud overcomes access problems related to firewall issues. 
          						</p>
  							</div>
						</div>
        		</div><!-- /.col-lg-2 -->
        		<div class="col-lg-2">
        		</div>
        		<div class="col-lg-2">
          			<a class='techsupport' data-toggle="popover" data-trigger="focus" data-placement='above' title="Technical Support" href='#'><span title="Technical Support"><img class="img-rounded" src="assets/tech-support.png" alt="Generic placeholder image" width="80" height="80"></span></a>
						<div id="popover_content_wrapper_techsupport" style="display: none">
  							<div>
          						<p align="justify">
          							Ready to use TIDE software package also comes with one year technical support for your convenience.
		          					Continued support and free updates of new TIDE versions after the initial one year term can be secured against an annual fee that is 15% of the initial license fee. 
          						</p>
  							</div>
						</div>
        		</div><!-- /.col-lg-2 -->
        	  </div>         
          	  <div class="row">
          	  	<h2>TIDE plans/pricing</h2>
        		<div class="col-lg-2">          			
          			<a class='plan-academic' data-toggle="popover" data-trigger="focus" data-placement='above' title="Academic" href='#'><span title="Academic"><img class="img-circle" src="assets/academic.png" alt="Generic placeholder image" width="100" height="100"></span></a>
						<div id="popover_content_wrapper_academic" style="display: none">
  							<div>
          						<p>
          						<ul>	
          							<li>Academic/Research Institutes</li>
          							<li>Universities</li>
          							<li><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>2500</li>
          							<li>Download of all versions of TIDE for one year</li>
          							<li>Technical Support for one year</li>
          						</ul>
          						</p>
          						<p class="text-muted">
          							Continued support and free updates of new TIDE versions after the initial one year term can be secured against an annual fee that is 15% of the initial license fee.
          						</p>
  							</div>
						</div>
        		</div>
        		<div class="col-lg-2">
        		</div>
        		<div class="col-lg-2">
          			<a class='plan-sme' data-toggle="popover" data-trigger="focus" data-placement='above' title="SME" href='#'><span title="Small Medium Enterprises"><img class="img-circle" src="assets/sme.png" alt="Generic placeholder image" width="100" height="100"></span></a>
						<div id="popover_content_wrapper_sme" style="display: none">
  							<div>
          						<p>
          						<ul>	
									<li>Small/Medium Enterprises</li>
          							<li>&lt; 100 people </li>
          							<li><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>5000</li>
          							<li>Download of all versions of TIDE for one year</li>
          							<li>Technical Support for one year</li>
          						</ul>
          						</p>
          						<p class="text-muted">
          							Continued support and free updates of new TIDE versions after the initial one year term can be secured against an annual fee that is 15% of the initial license fee.
          						</p>
  							</div>
						</div>
        		</div>
        		<div class="col-lg-2">
        		</div>
        		<div class="col-lg-2">          			
          			<a class='plan-corporate' data-toggle="popover" data-trigger="focus" data-placement='above' title="Corporate" href='#'><span title="Corporate"><img class="img-circle" src="assets/corporate.png" alt="Generic placeholder image" width="100" height="100"></span></a>
						<div id="popover_content_wrapper_corporate" style="display: none">
  							<div>
          						<p>
          						<ul>	
									<li>Large Corporations</li>
          							<li>&gt; 100 people</li>
          							<li><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>10000</li>
          							<li>Download of all versions of TIDE for one year</li>
          							<li>Technical Support for one year</li>
          						</ul>
          						</p>
          						<p class="text-muted">
          							Continued support and free updates of new TIDE versions after the initial one year term can be secured against an annual fee that is 15% of the initial license fee.
          						</p>
  							</div>
						</div>

        		</div>
        	  </div>
        	  <div class="row">
          	  	<h2>Technical requirements</h2>
        		<div class="col-lg-3">
          			<a class='tr-shinyr' data-toggle="popover" data-trigger="focus" data-placement='above' title="Deploy TIDE on Shiny R Server" href='#'>Deploy TIDE on Shiny R Server</a>
						<div id="popover_content_wrapper_shinyr" style="display: none">
  							<div>
          						<p align="justify">
          							Required platform: <strong>Web Server</strong></br>
          							Required Software: </br>
          							<ul>
          							<li>Web Server OS: <strong>Ubuntu 12.04 or later / Fedora 19+ / RedHat 7+ / openSUSE 13.1+</strong> (For installing the Shiny Server binary 64 bit architecture is needed)</li>
          							<li>R version: <strong>3.1.1 or later</strong></li>
          							</ul>
          							Comments: </br>
          							<ul>
          							<li>Installing Shiny Server on Amazon linux instances (e.g. EC2 t2 micro) is also possible. But make sure you have a compatible linux OS (e.g. ‘Amazon Linux AMI’).</li>
          							<li>The required R packages from TIDE and shiny package works with R version 3.0.2 or higher but it is highly recommended to get a version of R 3.1.1 for a smoother deployment of TIDE shiny R package.</li>
        		  					</ul>
		          				</p>
  							</div>
						</div>
        		</div>
        		<div class="col-lg-2">
        		</div>
        		<div class="col-lg-3">
          			<a class='tr-cloud' data-toggle="popover" data-trigger="focus" data-placement='above' title='Deploy TIDE on <%= link_to "shinyapps.io", "http://www.shinyapps.io/", :target => "_blank" %> Cloud Server'.html_safe href='#'>Deploy TIDE on shinyapps.io Cloud Server</a>
					<div id="popover_content_wrapper_cloud" style="display: none">
							<div>
          						<p align="justify">
          							Required platform: <strong>Any local machine</strong> from where you can deploy to the shinyapps.oi cloud.</br>
          							Required Software: </br>
          							<ul>
          							<li>Local Machine OS: <strong>Linux/Windows/Mac OSX</strong></li>
          							<li>R version: <strong>3.1.1 or later</strong></li>
          							</ul>
          							Comments: </br>
          							<ul>
          							<li>You would require an account in shinyapps.io cloud server and you can choose from plans (Free, Basic, Standard or Professional) for your need.</li>
          							</ul>
          						</p>
  							</div>
						</div>	
        		</div>
        	  </div>
        </div>
      </div>
      <div class="col-md-6">
      	<div class="reqInfo">
      	<h2>Request information for TIDE software package to run locally!</h2>
        <p><i>**all fields are mandatory</i></p>
        
   	    <% if flash[:color]== "valid" %>
			<div class="valid_notice">
				<p><%= flash[:notice]%></p>
			</div>
		<% elsif flash[:color]== "invalid"%>
			<div class="invalid_notice">
				<p><%=flash[:notice]%></p>
				</div>
		<%else%>
		<%end%>
		

   	    <%= form_tag(:controller => 'app', :action => 'orderAction') do %>
		   	<%= select_tag :chosenPlan, options_for_select([ 'Select a plan', 'Academic', 'SME', 'Corporate' ], @selectedPlan), :class => "form-control" %></br>
		   	<%= text_field_tag :name , nil, :placeholder => "Full name", :class => "form-control" %></br>
   		    <%= text_field_tag :email , nil, :placeholder => "Email", :class => "form-control" %></br>
   		    <%= text_field_tag :organization , nil, :placeholder => "Company / Institute / University name", :class => "form-control" %></br>
			<%= text_area_tag :organizationAddress , nil, :placeholder => "Company / Institute / University complete address", :class => "form-control" %></br>
			<%= text_field_tag :contactNumber , nil, :placeholder => "Your contact number at organization", :class => "form-control" %></br>
			<%= text_field_tag :webAddress , nil, :placeholder => "Website of company / institute/ university", :class => "form-control" %></br>
       		<%= submit_tag "Submit Request", :class => 'btn btn-primary' %> &nbsp; <a class="btn btn-danger" href="index" role="button">Cancel</a>
		<% end -%>
		</div>
      </div>	
    </div>        

   
	  <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
      	<div class="row">
      		
	      	<div class="col-lg-4">
    		    <p align="left">&copy; <%= link_to "Netherlands Cancer Institute - NKI", "http://www.nki.nl", :target => "_blank" %>
    		    </br>For any query, <%= mail_to "Research-IT@nki.nl", '<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; NKI Research-IT'.html_safe %>
        		</p>
        	</div>
        	<div class="col-lg-4">
        	</div>
        	<div class="col-lg-4">
				<img  src="assets/nki.png" alt="Generic placeholder image" width="180" height="100">
    	    </div>
    	 </div>   
      </footer>

</div><!-- /.container -->



<!-- view plans -->
<div class="modal fade bs-example-modal-lg" id="showPlans" tabindex="-1" role="dialog" aria-labelledby="mvp">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mvp">TIDE plans</h4>
      </div>
      <div class="modal-body">
      	<div class="row">
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/academic.png" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>Academic</h2>
          				<p>
          					Academic/Research Institutes</br>
          					Universities</br>
          					<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>2500 per year</br>
          				</p>
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/sme.png" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>SME</h2>
          				<p>
          					Small/Medium Organizations</br>
          					&lt; 100 people </br>
          					<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>5000 per year</br>
          				</p>
        		</div><!-- /.col-lg-4 -->
        		<div class="col-lg-4">
          			<img class="img-circle" src="assets/corporate.png" alt="Generic placeholder image" width="140" height="140">
         	 			<h2>Corporate</h2>
          				<p>
          					Large Corporations</br>
          					&gt; 100 people</br>
          					<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>10000 per year </br>
          				</p>
        		</div><!-- /.col-lg-4 -->
        </div>
      </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>


<script>
$(document).ready(function(){
  $('.datasecurity').popover({ 
    html : true,
    content: function() {
      return $('#popover_content_wrapper_data_security').html();
    }
  });
});
</script>

<script>
$(document).ready(function(){
  $('.firewall').popover({ 
    html : true,
    content: function() {
      return $('#popover_content_wrapper_firewall').html();
    }
  });
});
</script>

<script>
$(document).ready(function(){
  $('.techsupport').popover({ 
    html : true,
    content: function() {
      return $('#popover_content_wrapper_techsupport').html();
    }
  });
});
</script>


<script>
$(document).ready(function(){
  $('.plan-academic').popover({ 
    html : true,
    content: function() {
      return $('#popover_content_wrapper_academic').html();
    }
  });
});
</script>

<script>
$(document).ready(function(){
  $('.plan-sme').popover({ 
    html : true,
    content: function() {
      return $('#popover_content_wrapper_sme').html();
    }
  });
});
</script>

<script>
$(document).ready(function(){
  $('.plan-corporate').popover({ 
    html : true,
    content: function() {
      return $('#popover_content_wrapper_corporate').html();
    }
  });
});
</script>

<script>
$(document).ready(function(){
  $('.tr-shinyr').popover({ 
    html : true,
    content: function() {
      return $('#popover_content_wrapper_shinyr').html();
    }
  });
});
</script>

<script>
$(document).ready(function(){
  $('.tr-cloud').popover({ 
    html : true,
    content: function() {
      return $('#popover_content_wrapper_cloud').html();
    }
  });
});
</script>
